body{
    background-color: #606C38  ;
}
.navbar{
    display: flex;
    background-color: #283618 ;
    position: sticky;
    
}
.navbar li :hover{
    text-decoration: underline;
}
.navbar li :active {
 color: #DDA15E;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: 'Teko', sans-serif;
    font-size: 1.1rem;
    font-weight: bolder;
}
.navbar ul li a{
    text-decoration: none;
    color: #FEFAE0;
    padding: 30px 25px;
}
.Socials {
    padding-left: 12in;
    margin-right: 0;
}
h1, h3{
    background-color: #;
    margin: 0in;
    margin-right: 5in;
    border-radius: 1mm;
}